{% load i18n %}
{% load gravatar %}

{% if user %}
<div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="{% trans "Avatar" %}">
    {% else %}
        {% gravatar user.email 100 %}
    {% endif %}
    <div class="position-absolute translate-middle bottom-0 start-100 mb-6 {% if user.is_online %}bg-success {% else %}bg-danger {% endif %}rounded-circle border border-4 border-white h-20px w-20px"></div>
</div>
{% endif %}