APP_ENVIRONMENT=dev
GITHUB_TOKEN=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
ADMIN_USER=admin
ADMIN_EMAIL=admin@sportingly.us
ADMIN_PASSWORD=LDynamic.c0m
DOMAIN=sportingly.us
SECRET_KEY='django-insecure-j0h*_oe6slp2+w!k1it#bua7o-d0=&4+%q#iz9hr4)ghp8sps9'

POSTGRES_DB=sbt
POSTGRES_USER=yarel
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DB_NAME=scorbot
DB_USER=scorbot
DB_PASSWORD=H98xHfncm2muYpeJhQYC
DB_HOST=scorbot-sql-2016-dev-2019-06-09-21.c8fkbqnwoffi.us-east-1.rds.amazonaws.com
DB_PORT=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SENDGRID_API_KEY=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
DEFAULT_FROM_EMAIL=api@sportingly.us
ACCOUNT_EMAIL_SUBJECT_PREFIX=[SBT]
