{% load i18n %}

<form class="form" action="{% url 'account_deactivate_view' user.uid %}" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_deactivate" aria-expanded="true" aria-controls="kt_account_deactivate">
                <div class="card-title m-0">
                    <h3 class="fw-bolder m-0">{% trans "Deactivate Account" %}</h3>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Content-->
            <div id="kt_account_deactivate" class="collapse show">
                <!--begin::Form-->
                <form id="kt_account_deactivate_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">
                        <!--begin::Notice-->
                        <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6">
                            <!--begin::Icon-->
                            <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
                            <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"></rect>
                                    <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"></rect>
                                    <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"></rect>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <!--end::Icon-->
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-stack flex-grow-1">
                                <!--begin::Content-->
                                <div class="fw-bold">
                                    <h4 class="text-gray-900 fw-bolder">{% trans "You Are Deactivating Your Account" %}</h4>
                                    <div class="fs-6 text-gray-700">{% blocktrans %}By deactivating your account, your data will remain valid for 30 days, so you will not be able to register a new account with your same data. If in this period you decide to restore your account, please contact our support team immediately.{% endblocktrans %}
                                    <br>
                                    {% comment %}<a class="fw-bolder" href="#">Learn more</a>{% endcomment %}
                                    </div>
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Notice-->
                        <!--begin::Form input row-->
                        {% include "form_snippets/input_fields.html" with field=form.deactivate %}

                        {% comment %}<div class="form-check form-check-solid fv-row fv-plugins-icon-container">
                            {% render_field form.is_active class="form-check-input" %}

                            <label class="form-check-label fw-bold ps-2 fs-6" for="is_active">{% trans "I confirm my account deactivation" %}</label>
                        <div class="fv-plugins-message-container invalid-feedback"></div></div>{% endcomment %}
                        <!--end::Form input row-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <button id="kt_account_deactivate_account_submit" type="submit" class="btn btn-danger fw-bold">{% trans "Deactivate Account" %}</button>
                    </div>
                    <!--end::Card footer-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content-->
        </div>
    </form>