{% extends "account/base.html" %}
{% load i18n static widget_tweaks account sekizai_tags %}

{% block title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}
<form class="form w-100" novalidate="novalidate" id="kt_password_reset_form" data-kt-redirect-url="/" action="{% url 'account_reset_password' %}">{% csrf_token %}
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">{% trans "Forgot Password?" %}</h1>
        <!--end::Title-->
        <!--begin::Link-->
        <div class="text-gray-500 fw-semibold fs-6">{% trans "Enter your email to reset your password." %}</div>
        <!--end::Link-->
    </div>
    <!--begin::Heading-->
    <!--begin::Input group=-->
    <div class="fv-row mb-8">
        <!--begin::Email-->
        {% render_field form.email class="form-control form-control-solid" placeholder=form.email.label autocomplete="off" %}
        <!--end::Email-->
    </div>
    <!--begin::Actions-->
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button type="button" id="kt_password_reset_submit" class="btn btn-primary me-4">
            <!--begin::Indicator label-->
            <span class="indicator-label">{% trans "Submit" %}</span>
            <!--end::Indicator label-->
            <!--begin::Indicator progress-->
            <span class="indicator-progress">{% trans "Please wait" %}...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            <!--end::Indicator progress-->
        </button>
        <a href="{% url 'account_login' %}" class="btn btn-light">{% trans "Cancel" %}</a>
    </div>
    <!--end::Actions-->
</form>


{% addtoblock "page_css" %}
    {{ form.media.css }}
{% endaddtoblock %}

{% addtoblock "page_js" %}
    {{ form.media.js }}
{% endaddtoblock %}

{% endblock %}