{% extends "base.html" %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if applications %}
        {% for application in applications %}
            <div class="col-xl-4">
                <div class="card h-md-100">
                    <div class="card-body d-flex flex-column flex-center">
                        <div class="mb-2">
                            <h1 class="fw-semibold text-gray-800 text-center lh-lg">
                                {{ application.name }}
                            </h1>
                        </div>
                        <div class="text-center mb-1">
                            <a class="btn btn-sm btn-primary me-2" href="{% url 'app-detail' application.pk %}">{% trans "View App" %}</a>
                            <a class="btn btn-sm btn-danger delete-button" data-method="DELETE" data-id="{{application.pk}}" href="{% url 'app-delete' application.pk %}">{% trans "Delete App" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card">
            <div class="card-body">
                <div class="card-px text-center pt-15 pb-15">
                    <h2 class="fs-2x fw-bold mb-0">{% trans "Oauth2 Applications" %}</h2>
                    <p class="text-gray-400 fs-4 fw-semibold py-7">
                        {% blocktrans %}
                        Click on the below buttons
                        <br />if you want to register a new one.
                        {% endblocktrans %}
                    </p>
                    <a href="{% url 'app-registration' %}" class="btn btn-primary er fs-6 px-8 py-4">{% trans "Create App" %}</a>
                </div>
                <div class="text-center pb-15 px-5">
                    <img src="{% static 'assets/images/illustrations/sketchy-1/4.png' %}" alt="" class="mw-100 h-200px h-sm-325px" />
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}