{% extends "base.html" %}
{% load i18n sekizai_tags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    <form id="formConfigSubmit" class="form d-flex flex-column flex-lg-row" enctype="multipart/form-data" method="post">{% csrf_token %}
        <!--begin::Main column-->
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
            {% include "iam/users/user_info.html" %}
            {% include "iam/users/user_login.html" %}
            {% if form.groups %}
            {% include "iam/users/user_roles.html" %}
            {% endif %}

            <div class="d-flex justify-content-end">
                <!--begin::Button-->
                <a href="{{ request.META.HTTP_REFERER }}" id="btn_cancel" class="btn btn-light me-5">{% trans "Cancel" %}</a>
                <!--end::Button-->
                <!--begin::Button-->
                <button type="submit" id="btn_config_form_submit" class="btn btn-primary">
                    <span class="indicator-label">{% trans "Save Changes" %}</span>
                    <span class="indicator-progress">{% trans "Please wait" %}...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
                <!--end::Button-->
            </div>
        </div>
        <!--end::Main column-->
    </form>
    {% addtoblock "page_css" %}
        {{ form.media.css }}
    {% endaddtoblock %}
    {% addtoblock "page_js" %}
        {{ form.media.js }}
    {% endaddtoblock %}

{% endblock %}