server {
    server_name *.{{ domain }} {{ domain }};

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        root {{ app_modules }};
    }

    location /media/ {
        root {{ app_modules }};
    }

    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:8000;
    }

    listen 443 ssl;
    listen [::]:443 ssl;
    include snippets/self-signed.conf;
    include snippets/ssl-params.conf;
}


server {
    listen 80;
    server_name *.{{ domain }} {{domain}};
    return 301 https://$host$request_uri;
}
