{% extends 'base.html' %}
{% load i18n widget_tweaks sekizai_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% block left_form %}{% endblock %}

{% comment %}<div class="d-flex flex-row">{% endcomment %}
   {% comment %} <div class="row">
        {% if form_left %}
        <div class="col-xl-4">
            {% block form_left %}{% endblock %}
        </div>
        {% endif %}

    {% if form_left %}
        <div class="col-xl-8">
    {% endif %}{% endcomment %}

    <form class="form" id="{% block form_id %}formSubmit{% endblock %}" enctype="multipart/form-data" method="post" action="{% block form_url %}{% endblock %}">{% csrf_token %}
        <div class="card card-custom card-sticky" id="kt_page_sticky_card">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">{% block form_title %}{{ title }}{% endblock %}</h3>
                </div>
                <div class="card-toolbar">
                    {% include "back_button.html" %}

                    {% block form_actions %}
                        <button type="submit" id="btn_form_submit" class="btn btn-sm btn-primary" data-kt-roles-modal-action="submit">
                            <span class="indicator-label">{% trans "Submit" %}</span>
                            <span class="indicator-progress">{% trans "Please wait..." %}
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                    {% endblock %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        {% block form_body %}
                            {% include "form_snippets/form_fields.html" with form=form %}
                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>
    </form>
{% comment %}
    {% if form_left %}
        </div>
    {% endif %}

    </div>{% endcomment %}
{% comment %}</div>{% endcomment %}
{% endblock %}