{% load i18n %}


<div class="menu-item {% if request.resolver_match.url_name == "control-panel" %}here show{% endif %}">
    <a class="menu-link {% if request.resolver_match.url_name == "control-panel" %}active{% endif %}" href="{% url 'control-panel' %}">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor" />
                    <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor" />
                    <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor" />
                    <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">{% trans "Control Panel" %}</span>
    </a>
</div>


